<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Ads Search Engine</title>
    <style>
        .search{
            margin: 0 auto;
            width: 300px;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="search">
        <h2>Ads Search Engine</h2>
        <form action="/find" method="post">
        <input type="text" name="query" value="" placeholder="Enter the keywords:">
        <input type="submit" value="Submit">
        </form> 
    </div>
</body>

</html>